nav{
    margin-top:10px;
    margin-bottom: 25px;
}

#home{
    margin-left: 350px;
}

#pesquisa{
    margin-left: 350px;
}


#requisicao{
    margin-left: 350px;
}

#login{
    margin-left: 350px;
}