
*{
 margin: 0;
 padding: 0;
}

h1{
  color:#1098ad;
  font-size: 26px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: italic;
}

h2{
  font-size: 40px;
  font-family:sans-serif;
  margin-bottom: 30px;
}


h3{
  font-size: 30px;
  font-family: sans-serif;
}

h4{
  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
}

p{
  font-size: 22px;
  font-family: sans-serif;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 15px;
}

li{
  font-size: 20px;
  font-family: sans-serif;
}

#related-posts{
  list-style: none;
}

.related-authors{
  font-style: italic;
}

#copyright{
  font-size: 16px;
} 

#author{
  font-style: italic;
  font-size: 18px;
}

h1,h2,h3{
  color:#1098ad;
}

.redline{
  border:1px solid red;
}

#main-header{
  background-color: #f7f7f7;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

aside{
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom : 5px solid #1098ad;
}
/* pseudo-classe */
/* li:first-child{
  font-style: italic;
} */

/* li:nth-child(2),li:nth-child(3) {
    font-style: italic;
} */

/* li:last-child{
  font-style: italic;
} */

/* article p:last-child{
  color:red;
} */

a:link{
  margin: 30px;
 display: inline-block;
  color:#1098ad;
  text-decoration: none;
}

a:visited{
  color:#1098ad;
}

a:hover{
  color:orangered;
  font-weight: bold;
  text-decoration: underline dotted;
}

a:active{
  background-color: black;
}


/* 
footer p{
  color:red;
}

/* class copyright */
/* .copyright{
  color:blue !important;
}  */

.post-img{
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

ul,ol{
  margin-left: 50px;
  margin-bottom: 20px;
}

.article-header{
  margin-bottom: 60px;
}


.container{
display: flex;
}

